.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-grey-color: rgba(245, 244, 250, 1);
  --primary-logo-color: rgba(0, 0, 0, 1);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --border-header-bottom: rgba(236, 236, 236, 1);
  --background-color: rgba(47, 48, 58, 1);
  --social-link-color: rgba(175, 177, 184, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.is-hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: scroll;
}

.mobile-menu .mobile-menu__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  top: 21px;
  right: 25px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.mobile-menu .mobile-menu__icon {
  width: 19px;
  height: 19px;
}

.mobile-menu .mobile-menu__icon:focus, .mobile-menu .mobile-menu__icon:hover {
  fill: var(--accent-color);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu__nav .mobile-menu__nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav .mobile-menu__nav-link:hover, .mobile-menu__nav .mobile-menu__nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu__nav .mobile-menu__nav-link.current {
  color: var(--accent-color);
}

.mobile-menu__nav .mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
  margin-top: auto;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-phone {
  font-size: 34px;
  color: var(--accent-color);
}

.mobile-menu__contacts-email {
  font-size: 24px;
  color: var(--primary-text-color);
}

.mobile-menu__link_size {
  font-weight: 500;
  line-height: 1.17;
}

.mobile-menu__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__item-social:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu_line::after {
  content: "";
  position: absolute;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-menu__item-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.logo__first-part {
  color: var(--accent-color);
}

.button-modal {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:focus, .button-modal:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  padding: 40px 40px 40px 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.modal-window .modal-window__icon-close {
  width: 18px;
  height: 18px;
}

.modal-window .modal-window__close-botton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window .modal-window__close-botton:focus, .modal-window .modal-window__close-botton:hover {
  fill: var(--accent-color);
}

.modal-window .modal-window__header {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--title-text-color);
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
  .modal-window__header {
    line-height: 1.15;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form .modal-form__label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form .modal-form__input_wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form .modal-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
}

.modal-form .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form .modal-form__input:focus + .form-input-icon {
  fill: var(--accent-color);
}

.modal-form .modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.modal-form .modal-form__comment {
  margin-top: 4px;
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-form .modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form .modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form .modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form .modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form .modal-form__comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form .modal-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-form .modal-form__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 55px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form .modal-form__button:focus, .modal-form .modal-form__button:hover {
  background-color: #188ce8;
  border-color: #188ce8;
}

.checkbox .checkbox__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox .checkbox__wraper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox .checkbox__icon {
  position: absolute;
  width: 16px;
  height: 15px;
}

.checkbox .checkbox__input:checked + .checkbox__wraper {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox .checkbox__input:focus + .checkbox__wraper {
  border-color: var(--accent-color);
}

.checkbox .checkbox__title {
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.checkbox .checkbox__link {
  line-height: 1.7;
  color: var(--accent-color);
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

@media screen and (min-width: 1200px) {
  .checkbox__title {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__item-link {
    position: relative;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__item-link:hover, .menu__item-link:focus {
    color: var(--accent-color);
  }
  .menu__item-link.current {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    margin-right: 0px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.filtr__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filtr__button {
  color: var(--title-text-color);
  background-color: var(--secondary-grey-color);
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr__button:hover,
.filtr__button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .filtr__item {
    margin-right: 8px;
    margin-top: 15px;
  }
  .filtr__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filtr__item:not(:last-child) {
    margin-right: 8px;
  }
  .filtr__list {
    margin-top: 0;
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filtr__list {
    margin-bottom: 50px;
  }
}

.header {
  border-bottom: 1px solid var(--border-header-bottom);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__logo {
  color: var(--primary-logo-color);
  font-size: 24px;
  line-height: 1.167;
}

.header__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contacts-item-link {
  color: var(--primary-text-color);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts-item-link:hover, .header__contacts-item-link:focus {
  color: var(--accent-color);
}

.header__email-icon {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: currentColor;
}

.header__tell-icon {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
  .header__contacts {
    display: none;
  }
  .modal-menu__open-icon {
    width: 24px;
    height: 24px;
  }
  .modal-menu__open-botton {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    line-height: 0;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu__open-botton:focus, .modal-menu__open-botton:hover {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-menu__open-botton {
    display: none;
  }
  .header__logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__email-icon {
    margin-right: 10px;
  }
  .header__tell-icon {
    margin-right: 10px;
  }
  .header__logo {
    margin-right: 93px;
    padding: 24px 0 25px 0;
  }
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__contacts-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.hero {
  background-color: var(--background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-img.jpg");
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (min-device-pixel-ratio: 2) and (max-width: 479px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 479px), (min-resolution: 192dpi) and (max-width: 479px), (min-resolution: 2dppx) and (max-width: 479px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile-img@2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tablet-img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-img.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 480px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px), (min-resolution: 192dpi) and (min-width: 480px), (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/tablet-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero@2x.jpg");
  }
}

.advantage__item_title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.advantage__item_description {
  line-height: 1.71;
}

.advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.advantage__icon_size {
  width: 70px;
  height: 70px;
}

.advantage__item {
  margin-bottom: 30px;
}

.advantage__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .advantage__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item_title {
    text-align: left;
  }
  .advantage__item {
    width: 354px;
  }
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantage__item {
    margin-bottom: 0;
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    width: 270px;
  }
  .advantage__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services {
  padding-top: 47px;
}

.services .services__title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.services .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -30px;
}

.services .services__item {
  position: relative;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
}

.services .services__description {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-grey-color);
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__social-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__item-card {
  padding-top: 30px;
  padding-bottom: 24px;
  line-height: 1.19;
  text-align: center;
}

.team__item-card-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__item-card-profession {
  font-size: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team__list {
    margin-top: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item:nth-child(n) {
    margin-bottom: 0;
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.company__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.company__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__link:hover .company__icon,
.company__link:focus .company__icon {
  fill: var(--accent-color);
}

.company__icon {
  fill: var(--social-link-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__item:hover .company__link,
.company__item:focus .company__link {
  border-color: var(--accent-color);
}

.company__item {
  margin-bottom: 30px;
}

.company__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 480px) {
  .company__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -30px;
    margin-left: -30px;
  }
  .company__item {
    margin-bottom: 0;
  }
  .company__item:nth-child(n) {
    margin-top: 30px;
    margin-left: 30px;
  }
  .company__link {
    width: 210px;
  }
  .company__item:hover .company__link,
  .company__item:focus .company__link {
    border-color: var(--accent-color);
  }
  .company__link:hover .company__icon,
  .company__link:focus .company__icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .company__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .company__title {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .company__link {
    width: 170px;
  }
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo_color {
  color: var(--primary-white-color);
  font-size: 24px;
  line-height: 1.167;
}

.footer__address-link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link:hover, .footer__address-link:focus {
  color: var(--accent-color);
}

.map {
  color: var(--primary-white-color);
}

.footer__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__get-in {
  text-align: center;
}

.footer__tablet_position {
  margin-bottom: 60px;
}

.footer__get-in-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
}

.footer__get-in-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__get-in-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer__get-in-list-link {
  background-color: #44454e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__get-in-list-icon {
  fill: var(--primary-white-color);
}

.footer__get-in-list-link:hover,
.footer__get-in-list-link:focus {
  background-color: var(--accent-color);
}

.footer__form {
  display: block;
}

.footer__form-title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
}

.footer__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 2px 15px 16px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-input:hover, .footer__form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer__form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  border-color: var(--accent-color);
  padding: 10px 28px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-button:focus, .footer__form-button:hover {
  border-color: #188ce8;
}

.footer__form-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__form-icon .icon {
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 480px) {
  .footer__form-input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet_position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__address {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__tablet_position {
    margin: 0;
  }
  .footer__address {
    margin-right: 70px;
  }
  .footer__address-list {
    text-align: start;
  }
  .footer__logo {
    text-align: start;
  }
  .footer__form-input {
    width: 358px;
    margin-right: 12px;
  }
  .footer__form-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__form-label {
    margin-right: 12px;
  }
  .footer__form-title {
    text-align: start;
  }
}

.portfolio .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.portfolio .portfolio__text-wraper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio .portfolio__img-wraper {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio .portfolio__description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.portfolio .portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__link:focus, .portfolio .portfolio__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio__link:focus .portfolio__overlay,
.portfolio .portfolio__link:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item:nth-child(n) {
    margin-right: 30px;
    margin-top: 30px;
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__link {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item:nth-child(n) {
    margin-right: 30px;
    margin-top: 30px;
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__link {
    max-width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */