/* цвет основного текста rgba(33, 33, 33, 1)
 */
/* вторичный цвет текста rgba(117, 117, 117, 1) 
;
 */
/* белый rgba(255, 255, 255, 1)  */
/* акцент rgba(33, 150, 243, 1)
 */
/* вторичный цвет фона rgba(245, 244, 250, 1) */

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-grey-color: rgba(245, 244, 250, 1);
  --primary-logo-color: rgba(0, 0, 0, 1);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --border-header-bottom: rgba(236, 236, 236, 1);
  --background-color: rgba(47, 48, 58, 1);
  --social-link-color: rgba(175, 177, 184, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* ------------------------------- Components ------------------------------- */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------------------- End  Components ---------------------------- */

/* --------------------------------- Header --------------------------------- */
/* ---------------------------------- logo ---------------------------------- */
.header {
  border-bottom: 1px solid var(--border-header-bottom);
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.logo-first-part {
  color: var(--accent-color);
}
.header .logo {
  color: var(--primary-logo-color);
}
/*                                  End logo                                  */

.nav-list .link {
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts {
  display: flex;
  align-items: center;
}
.contact-item .link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
}
.email-icon {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.tell-icon {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.nav-list .link:hover,
.nav-list .link:focus,
.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* ------------------------------ End header ------------------------------ */

/* ---------------------------------- Hero ---------------------------------- */

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/hero/bg.jpg ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-main-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* Так можно делать или это полный пипец? */
  margin-bottom: 35px;
}
/* Button */
.button-modal {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:focus,
.button-modal:hover {
  background-color: rgb(24, 140, 232);
}
/* -------------------------------- End hero -------------------------------- */

/* -------------------------------- Advantage ------------------------------- */
.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.icon {
  width: 70px;
  height: 70px;
}

.advantage {
  padding-bottom: 0;
  padding-bottom: 47px;
}
.advantage-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.advantage-item {
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.advantage-list .title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-weight: bold;
  margin-bottom: 10px;
}
.advantage-list .description {
  line-height: 1.71;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------------ End Advantage ----------------------------- */

/* -------------------------------- Services -------------------------------- */
.services {
  padding-top: 0;
  padding-top: 47px;
}
.services-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.services-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.services-item {
  position: relative;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
.services-description {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ------------------------------ End Services ------------------------------ */

/* ---------------------------------- Team ---------------------------------- */
.team {
  background-color: var(--secondary-grey-color);
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
}
.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-list .profession {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.teamcard {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
/* социальные сети */
.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

/* -------------------------------- End team -------------------------------- */

/* company */
.company-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.company-list {
  display: flex;
}
.company-list-link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list-item:not(:last-child) {
  margin-right: 30px;
}

.company-list-icon {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list-item:hover .company-list-link,
.company-list-item:focus .company-list-link {
  border-color: var(--accent-color);
}

.company-list-link:hover .company-list-icon,
.company-list-link:focus .company-list-icon {
  fill: var(--accent-color);
}

/*  end company */
/* --------------------------------- Footer --------------------------------- */
/* ---------------------------------- logo ---------------------------------- */

.footer .logo {
  color: var(--primary-white-color);
}
.footer-logo {
  margin-bottom: 20px;
}
/*                                  End logo                                  */
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
}
.logo-address {
  margin-right: 70px;
}
.footer-address-list .link {
  line-height: 1.71;
  color: var(--footer-contacts-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-list {
  display: flex;
  flex-direction: column;
}
.footer-address-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address-list .map {
  color: var(--primary-white-color);
}

.footer-address-list .link:hover,
.footer-address-list .link:focus {
  color: var(--accent-color);
}
/* Социальные ссылки */
.get-in,
.subscribe-title {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
}

.footer .social-list {
  padding: 0;
}
.footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}
.footer .social-list-link {
  background-color: rgb(68, 69, 78);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-list-icon {
  fill: var(--primary-white-color);
}

.footer.social-list-link:not(:last-child) {
  margin-right: 10px;
}
.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background-color: var(--accent-color);
}
/* Form-subscribe */
.form-subscribe {
  display: block;
  margin-left: 93px;
}
.conteiner-subscribe {
  display: flex;
}
.form-subscribe-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 15px 2px 15px 16px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-submit-icon {
  display: flex;
  align-items: center;
}
.submit-icon {
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
.form-subscribe-input:hover,
.form-subscribe-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.subscribe-form-button:focus,
.subscribe-form-button:hover {
  background-color: rgb(24, 140, 232);
  border-color: rgb(24, 140, 232);
}

/* -------------------------------- Portfolio ------------------------------- */
/* filtr pozition */
.portfolio-filtr {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filtr-item:not(:last-child) {
  margin-right: 8px;
}
.filtr-item:last-child {
  margin-right: 0;
}
/* End filtr pozition */

.portfolio-filtr .button {
  color: var(--title-text-color);
  background-color: var(--secondary-grey-color);
  font-weight: 500;
  line-height: 1.39;
  padding: 6px 22px;
  box-shadow: none;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filtr .button:focus,
.portfolio-filtr .button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}
.portfolio-item:nth-child(n) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .portfolio-title {
  color: var(--title-text-color);
  font-style: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list .description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.portflio-text-position {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:focus .portfolio-list-overlay,
.portfolio-link:hover .portfolio-list-overlay {
  transform: translateY(0);
}

/* --------------------------------End Portfolio ------------------------------- */
/* --------------------------------Modal Windows ------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px 40px 20px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}
.modal-icon-close {
  width: 18px;
  height: 18px;
}
.modal-close-botton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-botton:focus,
.modal-close-botton:hover {
  fill: var(--accent-color);
  /* border-color: var(--accent-color); на макете не меняется цвет */
}
.modal-header {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
}
.form-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}
.modal-form-comment {
  margin-top: 4px;
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.modal-form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-input:focus + .form-input-icon {
  fill: var(--accent-color);
}
.modal-form-input:focus,
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
/* Чекбокс */
.modal-form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.modal-form-checkbox-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-icon-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.icon-checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
}
.modal-form-checkbox:checked + .form-icon-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form-checkbox:focus + .form-icon-checkbox {
  border-color: var(--accent-color);
}

.modal-form-policy-title {
  line-height: 1.7;
  text-align: center;
  color: var(--primary-text-color);
}
.modal-form-policy-link {
  line-height: 1.7;
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-style: solid;
}
/* kk */

.modal-form-button {
  align-self: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 55px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}
.modal-form-button:focus,
.modal-form-button:hover {
  background-color: rgb(24, 140, 232);
  border-color: rgb(24, 140, 232);
}

/* -------------------------------- End Modal Windows ------------------------------- */
