.advantage {
  padding-bottom: 47px;
  &__list {
    display: flex;
    align-items: center;
    margin-left: -30px;
  }
  &__item {
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    &_title {
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--title-text-color);
      font-weight: bold;
      margin-bottom: 10px;
    }
    &_description {
      line-height: 1.71;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    &_size {
      width: 70px;
      height: 70px;
    }
  }
}
