// 480+
.header {
  border-bottom: 1px solid var(--border-header-bottom);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
  .header__logo {
    color: var(--primary-logo-color);
    font-size: 24px;
    line-height: 1.167;
  }
}

.header__contacts-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__contacts-item-link {
  color: var(--primary-text-color);
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__email-icon {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 8px;
  fill: currentColor;
}
.header__tell-icon {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
  .header__contacts {
    display: none;
  }
  .modal-menu__open-icon {
    width: 24px;
    height: 24px;
  }
  .modal-menu__open-botton {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: var(--accent-color);
    }
  }
}

// 768+
@media screen and (min-width: 768px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .modal-menu__open-botton {
    display: none;
  }
  .header__logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .header__email-icon {
    margin-right: 10px;
  }
  .header__tell-icon {
    margin-right: 10px;
  }
  .header__logo {
    margin-right: 93px;
    padding: 24px 0 25px 0;
  }
  .header__contacts {
    flex-direction: row;
  }
  .header__contacts-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
