.header {
  border-bottom: 1px solid var(--border-header-bottom);
  padding-top: 24px;
  padding-bottom: 25px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 93px;
    color: var(--primary-logo-color);
  }
  &__contacts {
    display: flex;
    align-items: center;
    &-item {
      display: flex;
      align-items: center;
    }
    &-item:not(:last-child) {
      margin-right: 50px;
    }
    &-item-link {
      color: var(--primary-text-color);
      font-weight: 500;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-item-link:hover,
    &-item-link:focus {
      color: var(--accent-color);
    }
  }
  &__email-icon {
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  &__tell-icon {
    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}
