.team {
  background-color: var(--secondary-grey-color);
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
.team__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team__social-list {
  justify-content: center;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__item-card {
  padding-top: 30px;
  padding-bottom: 24px;
  line-height: 1.19;
  text-align: center;
}
.team__item-card-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team__item-card-profession {
  font-size: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
}

// 768+
@media screen and (min-width: 768px) {
  .team__list {
    margin-top: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item:nth-child(n) {
    margin-bottom: 0;
    margin-left: 30px;
    margin-top: 30px;
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
