:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-grey-color: rgba(245, 244, 250, 1);
  --primary-logo-color: rgba(0, 0, 0, 1);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --border-header-bottom: rgba(236, 236, 236, 1);
  --background-color: rgba(47, 48, 58, 1);
  --social-link-color: rgba(175, 177, 184, 1);
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
